<%- include("partials/header"); -%>

    <p> <%= aboutContent %> </p>
    <div >
        <div>
            <h1 >About Me</h1>
        </div><!-- end header-->
        <div >
            <img class="centere"src="/images/img1.png">	
        </div><!-- end image-->
        <div>
            <br>
            <br>
            <h2>Introduction</h2>
            <p>
                I am a 21 year old Indian web developer with science background. I love to spend my free time learning new technologies, reading books,playing video games and going on long walks. I love scifi and fantasy movies and
                series. 
            </p>
        </div><!-- end intro-->
        <div >
            <h3>My Skills</h3>
            <ul >
                <li>Web Development</li>
                <li>Machine Learning</li>						
                <li>Analytical skills</li>
                <li>Communication</li>
            </ul><!--end skill-list-->
        </div><!-- end skills-->
        <div >
            <h3>More About Me</h3>
            <p>
                I have studied Computer Science but have always been interested in web development. I was 12 years old when I made my first web page with HTML and CSS. While I was studying in the university I took computer science as my core subject and was introduced to programming. I am a motivated self learner, having done courses on web development and machine learning with multiple projects to show for.I am passionate about learning
                and working on new projects.
            </p>
            <p>
                I'm highly energetic and motivated person and I love to work as a member or a leader of a team. I especially enjoy working with changing projects and taking them forward with rapid pace but high precision. I am talkative and sociable but also known for getting "in the zone" while concentrating on detailed work like programming or designing.
            </p>
            <br>
            <br>
            <br>
            <br>
        </div><!-- end main-text-->
    </div>
<%- include("partials/footer"); -%>
