<%- include("partials/header"); -%>
<style>
    * {
	box-sizing: border-box;
}

body {
	background-image: url('../img/rocks.jpeg');
	background-size: cover;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;

}

.containerr {
	width: 50%;
	margin: 0 auto;
}

.header h1 {
		margin-bottom: 70px;
	text-transform: uppercase;
}

.info	a, .nav a {
	text-decoration: none;
	color: black;
}

h3 {
	float: left;
	margin-top: 0;
}

.intro {
	font-size: 1.4em;
	margin-bottom: 70px;
}

.info {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}


/*Typography*/

h1,
h2,
h3 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
/* Social Media Icons*/
.iconss {
	margin-top: 80px;
}

.iconss a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.iconss a.twitter { background: url(../img/social-icons/twitter.png) left top no-repeat; }
.iconss a.rss { background: url(../img/social-icons/rss.png) left top no-repeat; }
.iconss a.linkedin { background: url(../img/social-icons/linkedin.png) left top no-repeat; }
.iconss a.facebook { background: url(../img/social-icons/facebook.png) left top no-repeat; }
.iconss a.email { background: url(../img/social-icons/email.png) left top no-repeat; }
.iconss a.googleplus { background: url(../img/social-icons/googleplus.png) left top no-repeat; 
}
    </style>
<body>
	
	<div class="containerr">
		
		<div class="header">
			<h1>Let's Stay in Touch....</h1>
		</div>

		<div class="intro">
			<p>Want to work together? <br>Or do you just want to know more? <br>Send me an email or give me a call. <br>Thanks for stopping by!</p>
		</div>

		<div class="info"> 
			<h3>Email Me: </h3>
			<h2><a href="mailto:sudhirhegde242@gmail.com">sudhirhegde242@gmail.com</a></h2><br>
			<h3>Call Me: </h3>
			<h2>(+91) 7892813214</h2>
		</div>

		<div class="iconss">
			<a class="twitter" href="http://twitter.com"></a>
			<a class="rss" href="http://rss.com"></a>
			<a class="linkedin" href="http://linkedin.com"></a>
			<a class="facebook" href="http://facebook.com"></a>
			<a class="email" href="http://google.com"></a>
			<a class="googleplus" href="http://googleplus.com"></a>
		</div>
		
</ul>
	</div>

</body>
    
<%- include("partials/footer"); -%>
