<%- include("partials/header"); -%>
<style>
    * {
	box-sizing: border-box;
}

body {

	text-align: center;
}

a {
	text-decoration: none;
	color: black;

}

.containerr {
	width: 50%;
	margin: 0 auto;
}

.header h1 {
		margin-bottom: 70px;

}

.info	a, .nav a {
	text-decoration: none;
	color: black;
}

h3 {
	float: left;
	margin-top: 0;
}

.intro {
	font-size: 1.4em;
	margin-bottom: 70px;
}

.info {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}



    </style>
<body>
	
	<div class="containerr">
		
		<div class="header">
			<h1>Let's Stay in Touch....</h1>
		</div>

		<div class="intro">
			<p>Want to work together? <br>Or do you just want to know more? <br>Send me an email or give me a call. <br>Thanks for stopping by!</p>
		</div>

		<div class="info"> 
			<h3>Email Me:</h3>
			<h2><a href="mailto:sudhirhegde242@gmail.com">sudhirhegde242@gmail.com</a></h2><br>
			<h3>Call Me:</h3>
			<h2>(+91) 7892813214</h2>
		</div>

		
</ul>
	</div>

</body>
    
<%- include("partials/footer"); -%>
